.masonry-item {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.load-more {
    display: block;
    margin: auto;
    outline: 2px solid #3b82f6;
    transition: outline-offset 2s;
}
button.load-more{
    margin-top: 50px;
}
.load-more:hover {
    outline-offset: 4px;
}
